# Assignment 1
assignment-1/gemOS.kernel


# Assignment 2
assignment-2/entry.o
assignment-2/user/init.o
assignment-2/gemOS.kernel


# Assignment 3
assignment-3/schedule.o
assignment-3/user/init.o
assignment-3/gemOS.kernel


# Assignment 4
assignment-4/*.o
assignment-4/objfs
assignment-4/objfs_cached

assignment-4/test/*.o
assignment-4/test/put
assignment-4/test/get
assignment-4/test/tester

assignment-4/example/*.o
assignment-4/example/objfs

assignment-4/example/test/*.o
assignment-4/example/test/put
assignment-4/example/test/get
assignment-4/example/test/delete
assignment-4/example/test/update
assignment-4/example/test/rename

assignment-4/testcases/*.o
assignment-4/testcases/lib/*.o
assignment-4/testcases/create
assignment-4/testcases/delete
assignment-4/testcases/read
assignment-4/testcases/rename
assignment-4/testcases/update
